$primarycolor:#95e1d3;
$bgcolor:#f8f8f8;
$grey:#495057;
//images
$designbg:'../images/design.jpg';
$headerbg:'../images/header.jpg';
$unique:'../images/design.png';
$grad:linear-gradient(to top ,rgba(252,227,138, 0.9), rgba(243,129,129, 0.9));
$peoplebg:'../images/design.jpg';
$w1:'../images/w1.png';
$w2:'../images/w2.png';
$w3:'../images/w3.png';
$w4:'../images/w4.png';
$w5:'../images/w5.png';
$w6:'../images/w6.png';
$w7:'../images/w7.png';
$what1:'../images/Untitled-1.jpg';
$what2:'../images/Untitled-2.jpg';
$what3:'../images/Untitled-3.jpg';


// fonts
$italic:'../fonts/KaushanScript-Regular.ttf';
$mont:'../fonts/Montserrat-Regular.ttf';
$roboto:'../fonts/Roboto-Regular.ttf';
//font size
$fontspan:1.5rem;


